body{
  background:#03045E;
  color: #fff;
  font-family: serif;
  scroll-behavior: smoth;
}

table {
  border-collapse: collapse;
  border: 1px solid grey;  
}

.posTable{
  position: relative;  
}

td{
  width: 70%;
}

tr{
  width: 10%;
}

.abs{
  position: relative;
  left: 1100px;
}

.posButton{
  position: relative;
  left: 480px;
}

.register{
  position: relative;
  left: 120px;
}


.ms-100{
  margin-left: 100px;
}

.ms-105{
  margin-left:105px;
}

a {
  text-decoration: none; /* Убираем подчёркивание */
 }